.flip {
  -moz-transform: scaleY(-1) !important;
  -o-transform: scaleY(-1) !important;
  -webkit-transform: scaleY(-1) !important;
  transform: scaleY(-1) !important;
  filter: FlipV !important;
  -ms-filter: "FlipV" !important;
}
