.two-side-container{ width:100%; height:35px;}
.one-side-container{ width:100%; height:35px;}
.align-left{ float: left;width:50%; margin-top:10px; height:25px;}
.align-right{ float: right;width:50%; margin-top:10px; height:25px;}

.cog{
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0px;
}

.cog:hover{
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0px;
}

.manual {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.manual:hover{
    border-top-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0px;
}

.ui-unit{
    margin-left: 5px;
}

[hidden] {
  display: none !important;
}

.take-all-space-you-can{
    width:100%;
}

@media (max-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a  {
    border-bottom: 1px solid #ddd !important;
    border-radius: 4px 4px 0 0 !important;
    margin-bottom: 0 !important;
  }
}

.fb-on-input{
    /* display:none; */
}


.hover09 figure img {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover09 figure:hover img {
	-webkit-filter: sepia(0);
	filter: sepia(0);
}
